/* ####################################################
    :: Template Name: Essence - Fashion Ecommerce Template
    :: Author: Colorlib
    :: Author URL: https://colorlib.com
    :: Description: Essence is smart & elegant fashion e-commerce Template. It's suitable for all e-commerce business platform.
    :: Version: 1.0.0
    :: Created: April 27, 2018
    :: Last Updated: May 2, 2018
    #################################################### */

/* ---------------------------------------
    ##### - PLACE YOUR CUSTOM CSS HERE - #####
    --------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.orderParent{
    width: 900px;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
}
.orderParent h3{
    width: 100%;
}
.orderParent > .oryel{
    width: auto;
    margin: 4px;
}
.showCaseEmpty {
  width: 100%;
  height: 100vh;
  background-color: #fbb710;
  display: flex;
  align-items: center;
  justify-content: center;
}
.showCaseEmpty a:hover {
  font-size: 1rem;
}

.oryel {
  background-color: #fbb710;
  color: #fff;
}

.DBParent{
  width: 100%;
  height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #fbb710;
  flex-direction: column;
}
.DBParent .DBERR{
  width: 550px;
  height: 550px;
  background-color: #fff;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}
.DBParent a{
  margin: 10px;
}
.DBParent a:hover{
  font-size: 1rem;
}
