<!DOCTYPE html>
<html lang="en">

<%- include("./includes/head.ejs") %>

<body>
    



    <!-- ##### Main Content Wrapper Start ##### -->


    

    <section class="DBParent">
            <div class="DBERR">
                <a class="btn btn-outline-danger" href="/shop" role="button">
                    DataBase is NOT Configed !!!
                </a>
                
                <div class="alert alert-warning" role="alert">
                  <h4 class="alert-heading"> Please Go To </h4>
                  <p><a href="" class="btn btn-outline-dark"><code>./ProjectRoot/database/database-config.js</code></a></p>
                  <p class="mb-0">and Connect your DataBase to this Project</p>
                  <p class="mb-0">After Connect your DataBase : Open terminal And Type</p>
                  <p><a href="" class="btn btn-outline-dark"><code>npm start</code></a></p>
                  <p>
                      If You need Help , you Can Access me From this addresses
                    <br><i class="fa fa-phone" aria-hidden="true"></i>: +989903338860 
                    <br><i class="fa fa-exclamation-circle" aria-hidden="true"></i>: komeilmohammadian1376.web@gmail.com
                  </p>

                </div>
            </div>
    </section>

<!-- ##### Main Content Wrapper End ##### -->


