<!DOCTYPE html>
<html lang="en">

<%- include("./includes/head.ejs") %>

<body>
    



    <!-- ##### Main Content Wrapper Start ##### -->
<div class="main-content-wrapper d-flex clearfix">

    <%- include('./includes/mobile-nav.ejs') %> 

    <%- include('./includes/header.ejs') %> 

    <section class="mt-5 orderParent">
        <h3 class="mt-5">
            List of User Orders -
            <small class="text-muted">Order count : <%= userOrders.length %> </small>
        </h3>
        <% if (userOrders.length > 0) { %>
        <% for( let userOrder of userOrders ) { %>
        <div class="alert oryel orderItem" role="alert">
            <h4 class="alert-heading alert alert-light "><%= ` FULL NAME : ${userOrder.userFirstName } , ${ userOrder.userLastName}`%>
            </h4>
            <p class="oryel"><%= `EMAIL : ${userOrder.userEmail}` %> </p>
            <p class="oryel mb-0"><%= `ADDRESS : ${userOrder.userAddress}` %></p>
        </div>
        <% } %>

        <% } else { %>
        <div class="showCaseEmpty">
            <a class="btn btn-outline-light" href="/shop" role="button">
                Click Hire to Select a Product from Shop
            </a>
        </div>
        <% } %>
    </section>
</div>
<!-- ##### Main Content Wrapper End ##### -->



<%- include("./includes/footer.ejs") %>