<div class="cart-table-area section-padding-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="cart-title mt-50">
                    <h2>Shopping Cart</h2>
                </div>

                <div class="cart-table clearfix">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (orders.length > 0) { %>
                                <% for( let order of orders ) { %>
                                    <tr>
                                        <td class="cart_product_img">
                                            <a style="color: red;" href="/cart/remove-from-cart/<%= order.productUuid %>"><i class="fa fa-times"></i></a>
                                            <a href="/product/<%= order.productUuid %>"><img src="<%= order.productImage %>" alt="Product"></a>
                                        </td>
                                        <td class="cart_product_desc">
                                            <h5><%= order.productName %></h5>
                                        </td>
                                        <td class="price">
                                            <span>$<%= order.productPrice %></span>
                                        </td>
                                        <td class="qty">
                                            <div class="qty-btn d-flex">
                                                <p>Qty</p>
                                                <div class="quantity">
                                                    <input type="number" class="qty-text" id="qty" step="1" min="1" max="300" name="quantity" value="<%= order.orderCount %>">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                <% } %>
                            <% } else { %>
                                 <tr>
                                     <td>
                                         <div class="alert alert-primary" role="alert">
                                             <strong>your</strong>
                                         </div>
                                     </td>
                                     <td>
                                        <div class="alert alert-primary" role="alert">
                                            <strong>basket</strong>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="alert alert-primary" role="alert">
                                            <strong>is</strong>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="alert alert-primary" role="alert">
                                            <strong>empty</strong>
                                        </div>
                                    </td>
                                 </tr>

                            <% } %>
                            
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                
                
                <div class="cart-summary">
                    <h5>Cart Total - Total Count:<%= total.count %></h5>
                    <ul class="summary-table">
                        <li><span>subtotal:</span> <span>$<%= total.price %> </span></li>
                        <li><span>delivery:</span> <span>Free</span></li>
                        <li><span>total:</span> <span>$<%= total.price %></span></li>
                    </ul>
                    <div class="cart-btn mt-100">
                        <a href="/checkout" class="btn amado-btn w-100">Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>