<div class="cart-table-area section-padding-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="checkout_details_area mt-50 clearfix">

                    <div class="cart-title">
                        <h2>Checkout</h2>
                    </div>

                    <form class="checkout" action="/checkout-finished" method="POST">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <input name="first_name" type="text" class="form-control" id="first_name" value="" placeholder="First Name" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <input name="last_name" type="text" class="form-control" id="last_name" value="" placeholder="Last Name" required>
                            </div>
                            <div class="col-12 mb-3">
                                <input name="email" type="email" class="form-control" id="email" placeholder="Email" value="">
                            </div>
                            <div class="col-12 mb-3">
                                <input name="address" type="text" class="form-control mb-3" id="address" placeholder="Address" value="">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="cart-summary">
                    <h5>Cart Total</h5>
                    <ul class="summary-table">
                        <li><span>subtotal:</span> <span>$140.00</span></li>
                        <li><span>delivery:</span> <span>Free</span></li>
                        <li><span>total:</span> <span>$140.00</span></li>
                    </ul>
                    <div class="cart-btn mt-100">
                        <input class="btn amado-btn w-100" type="submit" value="Checkout" onclick="document.querySelector('form.checkout').submit()">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>