<!-- ##### Newsletter Area Start ##### -->
<section class="newsletter-area section-padding-100-0">
    <div class="container">
        <div class="row align-items-center">
            <!-- Newsletter Text -->
            <div class="col-12 col-lg-6 col-xl-7">
                <div class="newsletter-text mb-100">
                    <h2>Subscribe for a <span>25% Discount</span></h2>
                    <p>Nulla ac convallis lorem, eget euismod nisl. Donec in libero sit amet mi vulputate consectetur.
                        Donec auctor interdum purus, ac finibus massa bibendum nec.</p>
                </div>
            </div>
            <!-- Newsletter Form -->
            <div class="col-12 col-lg-6 col-xl-5">
                <div class="newsletter-form mb-100">
                    <form action="#" method="post">
                        <input type="email" name="email" class="nl-email" placeholder="Your E-mail">
                        <input type="submit" value="Subscribe">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Newsletter Area End ##### -->

<!-- ##### Footer Area Start ##### -->
<footer class="footer_area clearfix">
    <div class="container">
        <div class="row align-items-center">
            <!-- Single Widget Area -->
            <div class="col-12 col-lg-4">
                <div class="single_widget_area">
                    <!-- Logo -->
                    <div class="footer-logo mr-50">
                        <a href="<%= themeDir %>index.html"><img src="<%= themeDir %>img/core-img/km-light.png"
                                alt=""></a>
                    </div>
                    <!-- Copywrite Text -->
                    <p class="copywrite">
                        This template was developed by <br><a href="tel:+989903338860">Komeil Mohammadian</a> and is ready for servers based on NodeJS & SQLbase
                        <br><i class="fa fa-phone" aria-hidden="true"></i>: +989903338860 
                        <br><i class="fa fa-exclamation-circle" aria-hidden="true"></i>: komeilmohammadian1376.web@gmail.com
                    </p>
                </div>
            </div>
            <!-- Single Widget Area -->
            <div class="col-12 col-lg-8">
                <div class="single_widget_area">
                    <!-- Footer Menu -->
                    <div class="footer_menu">
                        <nav class="navbar navbar-expand-lg justify-content-end">
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#footerNavContent" aria-controls="footerNavContent" aria-expanded="false"
                                aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
                            <div class="collapse navbar-collapse" id="footerNavContent">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="<%= themeDir %>index.html">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="<%= themeDir %>shop.html">Shop</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="<%= themeDir %>product-details.html">Product</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="<%= themeDir %>cart.html">Cart</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="<%= themeDir %>checkout.html">Checkout</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ##### Footer Area End ##### -->

<!-- ##### jQuery (Necessary for All JavaScript Plugins) ##### -->
<script src="http://localhost:3000/themes/amado-master/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="http://localhost:3000/themes/amado-master/js/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="http://localhost:3000/themes/amado-master/js/bootstrap.min.js"></script>

<!-- Plugins js -->
<script src="http://localhost:3000/themes/amado-master/js/plugins.js"></script>
<!-- Active js -->
<script src="http://localhost:3000/themes/amado-master/js/active.js"></script>
</body>

</html>