<div class="cart-table-area section-padding-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="checkout_details_area mt-50 clearfix">

                    <div class="cart-title">
                        <h2>Create New Product</h2>
                    </div>

                    <form class="checkout" action="/create-new-product" method="POST">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <input name="product-name" type="text" class="form-control" id="first_name" value=""
                                    placeholder="Product Name" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <input name="price" type="text" class="form-control" id="last_name" value="" placeholder="Price"
                                    required>
                            </div>
                            <div class="col-12 mb-3">
                                <input name="image-url" type="text" class="form-control" id="company" placeholder="Image Url" value="">
                            </div>
                            <div class="col-12 mb-3">
                                <input name="image-url2" type="text" class="form-control" id="company" placeholder="Image Url 2" value="">
                            </div>
                            <div class="col-12 mb-3">
                                <select name="category" class="w-100" id="category">
                                    <option value="digital">Digital</option>
                                    <option value="natural">Natural</option>
                                    <option value="car">Car</option>
                                    <option value="home">Home</option>
                                    <option value="office">Office</option>
                                    <option value="human">Human</option>
                                    <option value="movie">Movie</option>
                                </select>
                            </div>

                            <div class="col-12 mb-3">
                                <select name="state" class="w-100" id="state">
                                    <option value="avalible">Avalible</option>
                                    <option value="not-avalible">Not Avalible</option>
                                    <option value="comming-soom">Comming Soom</option>
                                </select>
                            </div>
                            <div class="col-md-6 mb-3">
                                <input name="product-id" type="text" class="form-control" id="zipCode" placeholder="Product ID" value="">
                            </div>
                            <div class="col-md-6 mb-3">
                                <input name="brand" type="text" class="form-control" id="phone_number" min="0" placeholder="Brand"
                                    value="">
                            </div>
                            <div class="col-12 mb-3">
                                <textarea name="description" class="form-control w-100" id="comment" cols="30" rows="10"
                                    placeholder="Description"></textarea>
                            </div>


                        </div>
                    </form>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="cart-summary">






                    <input class="btn amado-btn w-100" type="submit" value="Save Product"
                        onclick="document.querySelector('form.checkout').submit()">

                </div>
            </div>
        </div>
    </div>
</div>