<!-- ##### Main Content Wrapper Start ##### -->
<div class="main-content-wrapper d-flex clearfix">

    <%- include('./mobile-nav.ejs') %>

    <%- include('./header.ejs') %>

    <%- include('./new-product-component.ejs') %>

</div>
<!-- ##### Main Content Wrapper End ##### -->