<!-- Product Catagories Area Start -->
<div class="products-catagories-area clearfix">
    <div class="amado-pro-catagory clearfix">
        <% if (products.length > 0) { %>
        <% for( let product of products) { %>
        <div class="single-products-catagory clearfix">
            <a href="/product/<%= product.uuid %> ">
                <img src="<%= product.imageUrl %> " alt="">
                <!-- Hover Content -->
                <div class="hover-content">
                    <div class="line"></div>
                    <p>From <%= product.price %> $</p>
                    <h4 style="color: #fbb710;"><%= product.category %></h4>
                    <h4 style="color: #fbb710;"><%= product.productName %></h4>
                </div>
            </a>
        </div>
        <% } %>

        <% } else { %>
        <div class="showCaseEmpty">
            <a class="btn btn-outline-light" href="/new-product" role="button">
                Please Click Hire to Create Product
            </a>
        </div>
        <% } %>

        <!-- Single Catagory -->


    </div>
</div>
<!-- Product Catagories Area End -->